<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
  <div *ngFor="let mess of messages" class="alert alert-danger" role="alert">
    {{ mess }}
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Task</label>
    <input
      type="text"
      class="form-control"
      id="text"
      name="text"
      [(ngModel)]="text"
      placeholder="Add task"
    />
  </div>
  <div class="mb-3">
    <label for="day" class="form-label">Day</label>
    <input
      type="date"
      class="form-control"
      id="day"
      placeholder="Day"
      name="day"
      [(ngModel)]="day"
    />
  </div>
  <div class="form-check form-switch mb-3">
    <input
      class="form-check-input"
      type="checkbox"
      name="reminder"
      [(ngModel)]="reminder"
      id="reminder"
    />
    <label class="form-check-label" for="reminder"> Reminder </label>
  </div>
  <!-- {{ text }}
  {{ day }}
  {{ reminder }} -->
  <button type="submit" class="btn btn-primary">Add task</button>
</form>
